# Feature Engineering

In [1]:
import pandas as pd
import numpy as np

import joblib

import params as p

In [2]:
train = joblib.load(p.TTV_DATA_PATH + f'02_{p.DATA_SAVE_NAME}_train.pkl')
test = joblib.load(p.TTV_DATA_PATH + f'02_{p.DATA_SAVE_NAME}_test.pkl')
val = joblib.load(p.TTV_DATA_PATH + f'02_{p.DATA_SAVE_NAME}_val.pkl')

In [3]:
train.shape, test.shape, val.shape

((5079, 13), (1693, 13), (1693, 13))

### Dealing with other categorical features

`holiday`: map to a binary features

`seasons`: Create dummy columns for each season. Remove one season for linear independence.

### Turn `holiday` into a binary feature

In [ ]:
def map_to_binary(df: pd.DataFrame, col: str):

    return np.where df[col] == 1)

In [6]:
data['holiday'] = np.where(data.holiday == 'Holiday', 1, 0)

In [7]:
data.holiday.value_counts()

0    8057
1     408
Name: holiday, dtype: int64

### Create dummy features for `seasons`

In [8]:
data_dummies = pd.get_dummies(data)

# Drop to maintain linear independence
data_dummies.drop(columns = ['seasons_Winter'], inplace=True)

### Check data

In [9]:
data_dummies.head()

,rented_bike_count,hour,temperature,humidity,wind_speed,visibility,solar_radiation,rainfall,snowfall,holiday,date_weekday,date_month,seasons_Autumn,seasons_Spring,seasons_Summer
0,254,0,-5.2,37,2.2,2000,0.0,0.0,0.0,0,3,1,0,0,0
1,204,1,-5.5,38,0.8,2000,0.0,0.0,0.0,0,3,1,0,0,0
2,173,2,-6.0,39,1.0,2000,0.0,0.0,0.0,0,3,1,0,0,0
3,107,3,-6.2,40,0.9,2000,0.0,0.0,0.0,0,3,1,0,0,0
4,78,4,-6.0,36,2.3,2000,0.0,0.0,0.0,0,3,1,0,0,0

### save csv

In [10]:
joblib.dump(data_dummies, p.DATA_PATH + f'02_{p.DATA_SAVE_NAME}.pkl')

['./data/02_data_all.pkl']