# Feature Engineering

In [1]:
import pandas as pd
import numpy as np

import joblib

In [2]:
data = joblib.load('./data/01_data.pkl')

In [3]:
data.head()

,date,rented_bike_count,hour,temperature,humidity,wind_speed,visibility,dew_point_temperature,solar_radiation,rainfall,snowfall,seasons,holiday,functioning_day
0,2017-01-12,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,2017-01-12,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,2017-01-12,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,2017-01-12,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,2017-01-12,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

### onehotencoding

In [4]:
data.holiday.value_counts()

No Holiday    8328
Holiday        432
Name: holiday, dtype: int64

In [5]:
data['holiday'] = np.where(data.holiday == 'Holiday', 1, 0)

In [6]:
data.holiday.value_counts()

0    8328
1     432
Name: holiday, dtype: int64

In [7]:
data.functioning_day.value_counts()

Yes    8465
No      295
Name: functioning_day, dtype: int64

In [8]:
data['functioning_day'] = np.where(data.functioning_day == 'Yes', 1, 0)

In [9]:
data.seasons.value_counts()

Spring    2208
Summer    2208
Autumn    2184
Winter    2160
Name: seasons, dtype: int64

In [10]:
data_dummies = pd.get_dummies(data)

# Drop to maintain linear independence
data_dummies.drop(columns = ['seasons_Winter'], inplace=True)

### save csv

In [11]:
joblib.dump(data_dummies, './data/02_data.pkl')

['./data/02_data.pkl']